
/* Header and Instructions*/
h1 {
  margin: 10px auto;
  color:red;
  text-align: center;
}

h3 {
  margin: 15px auto;
  color:black;
  text-align: center;
}

header {
  background-color:white;
  padding:15px 0;
}

/* General Table placement */
body {
  background-color:darkgreen;
}

table {
  margin: 130px 150px;
}

/* Make sure there is no spacing between the cells*/
table.no-spacing {
  border-spacing: 0;
  border-collapse: collapse;
}

/* size of the cells*/
.racer_table td {
  height: 35px;
  width: 50px;
}

.racer_table td.name {
  width:150px;
  color:white;
  text-transform: uppercase;
  vertical-align: center;
}



/* Racing Track*/
.racer_table tr.track {
  background-color: grey;
}

#player1_strip td#car1 {
  background-color: orange;
}
#player2_strip td#car2 {
  background-color: blue;
}

/* Side lines */

.racer_table tr.sides {
  background-color: red;
}

.racer_table td.white {
  background-color: white;
}

/* Grass */

.racer_table tr.grass {
  background-color: green;
}

/* Finish line*/
.racer_table td.finish {
  width: 10px;
  background-color:black;
}
.racer_table td.finish1 {
  width: 10px;
  background-color:white;
}